<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.7" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net472" />
  <package id="LibLog" version="4.2.6" targetFramework="net472" developmentDependency="true" />
  <package id="SimpleJson" version="0.38.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.110" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
</packages>